<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BareService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServices"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://enmdevex.global.nmhg.corp:82/AEPM_services/Services.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServices" contract="GetMasterWebService.IServices" name="BasicHttpBinding_IServices"/>
        </client>
    </system.serviceModel>
    <userSettings>
        <BareService.Properties.Settings>
            <setting name="interval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="partFile" serializeAs="String">
                <value>cgjlegac.GETMSTR</value>
            </setting>
            <setting name="partXRefFile" serializeAs="String">
                <value>cgjlegac.GETMSTRXRF</value>
            </setting>
            <setting name="partFileL1" serializeAs="String">
                <value>cgjlegac.GETMSTRL1</value>
            </setting>
        </BareService.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="AS400ConnectionString" value="DataSource=AC4TDAN1; UserId=CGJLEGAC; Password=Fridayzx5; LibraryList=cgjlegac; ConnectionTimeout=0;"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
